{% extends "base-fluid.html" %}

{% block head %}
  {{ super() }}
{% endblock head %}


{% block content %}

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>HySDS Resource Management</h1>
    <p class="lead">Monitoring Hybrid-Cloud Science Data System jobs, tasks, and workers.</p>
    <!--<a class="btn btn-large btn-success" href="#">Get started today</a>-->

    <div class="content">
      <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
          <label>JPL username</label>
          {{ form.username(size=80) }}<br/>
        </p>
        <p>
          <label>JPL password</label>
          {{ form.password(size=80) }}<br/>
        </p>
        <p><input type="submit" value="Sign In"></p>
      </form>
  
      <!--Alerts-->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="container"> 
        {% for message in messages %}
          <div class="alert alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
        <script>
          window.setTimeout( function() {
            $( ".alert" ).fadeTo(500, 0).slideUp(500, function() {
              $(this).remove();
            });
          }, 5000);
        </script>
      </div>
      {% endif %}
      {% endwith %}
  
    </div>

  </div>

{% endblock content %}
